rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /users/{userId} {
      allow read: if isAuth() && (request.auth.uid == userId || isAdmin());
      allow list: if isAdmin();
      allow create: if isAuth() && request.auth.uid == userId;
      allow update: if isAuth() && request.auth.uid == userId;
    }
    
    match /communityPlaylists/{playlistId} {
      allow read: if true;
      allow create: if isAuth();
      allow update, delete: if isAuth();
    }
    
    match /app-config/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
        // User Activity: Allow anyone to create/update their own activity document.
    // This is secure because they can only write to a document named after their unique deviceId.
    match /user_activity/{deviceId} {
      allow write: if true;
      allow read: if false; // No one should read this collection from the client.
    }
  }
}
